body {
  font-family: sans-serif;
  font-size: 10pt;
  line-height: 14pt;
  margin: 0 0;
  background: black;
}
header {
  border: none;
  border-bottom: 1px solid black;
  overflow: hidden;
  width: 100%;
  background: white;
}
nav {

}
object {
  height:200px;
  width:400px;
}
h1 {
  color: red;
  text-transform: uppercase;
}
h2 {
  background: #84f384;
  color: black;
  /* margin: 14pt 0pt; */
  /* font-weight: bold; */
  margin-top: 14pt;
  text-transform: uppercase;
}

h3 {
  background: #00e2ff;
  padding-left: 10px;
}

ul {
  background: yellow;
}
li {
  /* height: 20px; */
  cursor: pointer;
  margin-left: 10px;
  width: auto;
}
.nav li:nth-of-type(odd) {
  background: red;
}
.nav li:nth-of-type(even) {
  background: pink;
}

li:hover {
  background: pink;
  color: black;
}
pre {
  color: grey;
  font-family: monospace;
}
.content {
  width: 70%;
  max-height: 100%;
  height: auto;
  margin-left: 30%;
  top: 0px;
  position: absolute;
  /* outline: 1px solid black; */
  overflow-y: scroll;
}

pre, p {
  margin-left: 14pt;
}

h4 {
  margin-top: 14pt;
  margin-left: 7pt;
  text-decoration: underline;
}

pre {
  color: #ff4e4e;
  border-left: 1px solid #ff4e4e;
}

.default{
  background: white;
}
.gallery {

}

.gallery img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin-top: 14pt;
}

a {
  color: black;
}
