<div class="nav">
  <h1> Antoine Gelgon </h1>
  
<div id="Contact"><h2 id="Contact">Contact</h2></div>
<ul>
<li>
Phone --&gt; +32 488 85 84

<li>
eMail --&gt; antoine@luuse.io

<li>
Telegram -&gt; @AntoineGelgon 

</ul>

<div id="Social"><h2 id="Social">Social</h2></div>
<ul>
<li>
Mastodon -&gt; AntoineGelgon@framapiaf.org

<li>
Twitter -&gt; <a href="@AntoineGelgon.html">@AntoineGelgon</a>  

</ul>

<div id="Groups"><h2 id="Groups">Groups</h2></div>
<div id="Groups-Luuse"><h3 id="Luuse">Luuse</h3></div>
<ul>
<li>
Web Site -&gt; <a href="http:&#47;&#47;www.luuse.io">http://www.luuse.io</a>

<li>
Git -&gt; <a href="https:&#47;&#47;gitlab.com&#47;Luuse">https://gitlab.com/Luuse</a> 

</ul>
<div id="Groups-OSP"><h3 id="OSP">OSP</h3></div>
<ul>
<li>
Web Site -&gt; <a href="http:&#47;&#47;osp.kitchen&#47;">http://osp.kitchen/</a> 

<li>
Git      -&gt; <a href="https:&#47;&#47;gitlab.constantvzw.org&#47;osp">https://gitlab.constantvzw.org/osp</a>

</ul>


</div>

