<div class="default">
  <h1> css </h1>
  
<div id="Memo"><h2 id="Memo">Memo</h2></div>
<div id="Memo-Border"><h3 id="Border">Border</h3></div>

<div id="Memo-Border-border-image"><h4 id="border-image">border-image</h4></div>
<p>
<a href="https:&#47;&#47;developer.mozilla.org&#47;en-US&#47;docs&#47;Web&#47;CSS&#47;CSS_Background_and_Borders&#47;Border-image_generator">https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Background_and_Borders/Border-image_generator</a>
```
div {
 border:  80px solid transparent;
 padding: 15px;
 border-image: url(motif.svg) 33.7% round;
}
```
</p>

<div id="Memo-Border-Selector"><h4 id="Selector">Selector</h4></div>
<p>
Selection en commençant par la fin. Ici selections des 8 dernière balise.
</p>

<p>
<code>p:nth-last-of-type(-n+8)</code>
</p>


<div id="Ressources"><h2 id="Ressources">Ressources</h2></div>
<ul>
<li>
<a href="http:&#47;&#47;www.cssplant.com&#47;clip-path-generator ">clip-path-generator</a>

</ul>

</div>

