<div class="nav">
  <h1> rapide / informel </h1>
  
<p>
== antoine gelgon
<a href="contact.html">contact</a>
contenu sous licences -&gt; cc by
</p>

<div id="images"><h2 id="images">images</h2></div>
<ul>
<li>
<a href="gallery.php?gal=luuser-type.html">luuser-type</a>

</ul>
<div id="memo &amp; ressources"><h2 id="memo &amp; ressources">memo &amp; ressources</h2></div>
<ul>
<li>
<a href="vim.html">vim</a>

<li>
<a href="css.html">css</a>

<li>
<a href="services-web.html">services-web</a>

<li>
<a href="inkscape.html">inkscape</a> (extensions)

<li>
<a href="python.html">python</a>

<li>
<a href="pacman.html">pacman</a>

<li>
<a href="aur.html">aur</a>

<li>
<a href="unix.html">unix</a>

<li>
<a href="tmux.html">tmux</a>

<li>
<a href="chiffrement.html">chiffrement</a> 

<li>
<a href="svg.html">svg</a>

<li>
<a href="cpc.html">cpc</a>

<li>
<a href="mysql.html">mysql</a>

</ul>


</div>

