<div class="default">
  <h1> SVG -%title%gt; SCALABLE VECTOR GRAPHICS </h1>
  

<div id="Memo"><h2 id="Memo">Memo</h2></div>

<div id="Memo-path"><h3 id="path">path</h3></div>

<p>
Attribut <code>d</code>
</p>

<pre>
M = moveto
L = lineto
H = horizontal lineto
V = vertical lineto
C = curveto
S = smooth curveto
Q = quadratic Bézier curve
T = smooth quadratic Bézier curveto
A = elliptical Arc
Z = closepath
</pre>

<div id="Ressources"><h2 id="Ressources">Ressources</h2></div>

</div>

