<div class="default">
  <h1> vim </h1>
  
<div id="Memo"><h2 id="Memo">Memo</h2></div>
<div id="Memo-Plugin List"><h3 id="Plugin List">Plugin List</h3></div>
<pre>
'VundleVim/Vundle.vim'
'gorodinskiy/vim-coloresque'
'vimwiki/vimwiki'
'gregsexton/matchtag'
'kien/rainbow_parentheses.vim'
'ervandew/supertab'
'ctrlpvim/ctrlp.vim'
'itchyny/lightline.vim'
'bling/vim-bufferline
'mbbill/undotree'
'nanotech/jellybeans.vim'
'sjbach/lusty'
'scrooloose/nerdcommenter'
'somini/vim-autoclose'
'tpope/vim-eunuch'
'tpope/vim-fugitive'
'tpope/vim-surround'
'vim-scripts/Align'
'MarcWeber/vim-addon-mw-utils'
'tomtom/tlib_vim'
'honza/vim-snippets'
'garbas/vim-snipmate'
'mhinz/vim-startify'
'mhinz/vim-signify'
'tomtom/tcomment_vim'
'mattn/emmet-vim'
'htacg/tidy-html5'
'yggdroot/indentline'
'chrisbra/unicode.vim'
'molok/vim-vombato-colorscheme'
'szorfein/darkest-space'
'jonathanfilip/vim-lucius'
'mustache/vim-mustache-handlebars'
'scrooloose/syntastic'
'majutsushi/tagbar'
</pre>

<div id="Memo-Buffer"><h3 id="Buffer">Buffer</h3></div>

<p>
Pour copier de vim vers le press-copie -&gt; <code>"+y</code>
</p>
<pre>
 " Buffers, preferred over tabs now with bufferline.
  nnoremap &lt;c-n&gt; :bnext&lt;CR&gt;
  nnoremap &lt;c-N&gt; :bprevious&lt;CR&gt;
  nnoremap gd :bdelete&lt;CR&gt;
  nnoremap gf &lt;C-^&gt;
</pre>

<div id="Memo-Vimwiki"><h3 id="Vimwiki">Vimwiki</h3></div>

<p>
Paramètres dans <code>.vimrc</code>
</p>
<pre>
  " vimwiki command
  nmap &lt;Leader&gt;W &lt;Plug&gt;VimwikiIndex&lt;CR&gt;
  nmap &lt;Leader&gt;tt &lt;Plug&gt;VimwikiToggleListItem&lt;CR&gt;
  nmap &lt;Leader&gt;wf &lt;Plug&gt;VimwikiFollowLink&lt;CR&gt;
  nmap &lt;Leader&gt;wc &lt;Plug&gt;Vimwiki2HTML&lt;CR&gt;
</pre>

<div id="Memo-Manipulation du contenu"><h3 id="Manipulation du contenu">Manipulation du contenu</h3></div>

<p>
Mettre tout la selection sur une ligne : <code>&lt;C-j&gt;</code>
</p>

<div id="Memo-Manipulation du contenu-Multiline edit"><h4 id="Multiline edit">Multiline edit</h4></div>

<ol>
<li>
Put the cursor on the second word:

<li>
Hit &lt;C-v&gt; to enter visual-block mode and expand your selection toward the bottom:

<li>
Hit I"&lt;Esc&gt; to obtain:

<li>
Put the cursor on the last char of the third word:

<li>
Hit &lt;C-v&gt; to enter visual-block mode and expand your selection toward the bottom:

<li>
Hit A"&lt;Esc&gt; to obtain:

</ol>



<div id="Ressources"><h2 id="Ressources">Ressources</h2></div>

<ul>
<li>
<a href="http:&#47;&#47;vimawesome.com&#47;">Vimawesome</a>- Bibliothèque de plugin Vim

<li>
<a href="http:&#47;&#47;vimcolors.com&#47; ">vimColors</a> - Bibliothèque de colorscheme

<li>
<a href="https:&#47;&#47;vimebook.com&#47;fr">https://vimebook.com/fr</a> - EBook vim -&gt; La meilleure façon de rester productif en apprenant Vim

<li>
<a href="https:&#47;&#47;www.journalduhacker.net&#47;s&#47;nevdn7&#47;question_jdh_les_meilleurs_plugins_vim">https://www.journalduhacker.net/s/nevdn7/question_jdh_les_meilleurs_plugins_vim</a> - Liste JDH:  Les meilleurs plugins Vim du quotidien

</ul>

</div>

