<div class="default">
  <h1> AUR  </h1>
  

<div id="Memo &amp; Ressources"><h2 id="Memo &amp; Ressources">Memo &amp; Ressources</h2></div>

<div id="Memo &amp; Ressources-compiler manuellement un paquet AUR"><h3 id="compiler manuellement un paquet AUR">compiler manuellement un paquet AUR</h3></div>

<p>
```
git clone <a data-href="https:&#47;&#47;aur.archlinux.org&#47;repo.git">https://aur.archlinux.org/repo.git</a>
cd repo 
makepkg -si
```
</p>

</div>

