<div class="default">
  <h1> Chiffrement </h1>
  

<div id="Communication"><h2 id="Communication">Communication</h2></div>
<ul>
<li>
<a data-href="https:&#47;&#47;signal.org&#47;">https://signal.org/</a> -&gt; Just open technology for a fast, simple, and secure messaging experience.

</ul>

<div id="Password"><h2 id="Password">Password</h2></div>
<ul>
<li>
<a data-href="https:&#47;&#47;keepass.info&#47;">https://keepass.info/</a> -&gt; the free, open source, light-weight and easy-to-use password manager.

</ul>

</div>

