<div class="default">
  <h1> Inkscape </h1>
  

<div id="Extensions"><h3 id="Extensions">Extensions</h3></div>
<ul>
<li>
<a data-href="https:&#47;&#47;github.com&#47;fablabnbg&#47;inkscape-centerline-trace">https://github.com/fablabnbg/inkscape-centerline-trace</a> - &gt; autotrace dans inkscape.

</ul>

<div id="Ressources"><h3 id="Ressources">Ressources</h3></div>
<ul>
<li>
<a data-href="http:&#47;&#47;how-to.wikia.com&#47;wiki&#47;How_to_use_Inkscape_in_commandline_mode&#47;List_of_verbs ">List of verbs</a>

<li>
<a data-href="https:&#47;&#47;inkscape.org&#47;en&#47;gallery&#47;%3Dextension&#47;">list of extensions</a>

</ul>

</div>

