<div class="default">
  <h1> Pacman </h1>
  

<div id="Memo &amp; Ressources"><h2 id="Memo &amp; Ressources">Memo &amp; Ressources</h2></div>

<p>
Voir les dépendances inutilisées. <code>$ sudo pacman -Qdqt</code> *
Suprimer package: <code>$ sudo pacman -Rcs [paquet]</code> *
Lister tout les packages : <code>$ sudo pacman -Qe</code> *
</p>

<p>
_<em>*valable sur Pikaur &amp; Yay</em>_
</p>

</div>

