<div class="default">
  <h1> Python </h1>
  

<div id="Ressources"><h3 id="Ressources">Ressources</h3></div>

<ul>
<li>
<a data-href="http:&#47;&#47;dvillers.umons.ac.be&#47;wiki&#47;floss:python">http://dvillers.umons.ac.be/wiki/floss:python</a> -&gt; quelques références, trucs et astuces

<li>
<a data-href="http:&#47;&#47;sametmax.com&#47;pipenv-solution-moderne-pour-remplacer-pip-et-virtualenv&#47;">http://sametmax.com/pipenv-solution-moderne-pour-remplacer-pip-et-virtualenv/</a> -&gt; pipenv, solution moderne pour remplacer pip et virtualenv

<li>
<a data-href="http:&#47;&#47;effbot.org&#47;zone&#47;pythondoc-elemen£\(ttree-ElementTree.htm#elementtree.ElementTree._ElementInterface.attrib-attribute">http://effbot.org/zone/pythondoc-elemen£\)ttree-ElementTree.htm#elementtree.ElementTree._ElementInterface.attrib-attribute</a> -&gt; The elementtree.ElementTree Module

</ul>

</div>

