<div class="default">
  <h1> Services Web </h1>
  

<div id="Partage de fichier"><h2 id="Partage de fichier">Partage de fichier</h2></div>
<ul>
<li>
<a data-href="https:&#47;&#47;transfer.sh&#47;">https://transfer.sh/</a> -&gt; Partager des fichiers en ligne de commande.

<li>
<a data-href="https:&#47;&#47;framadrop.org&#47;">https://framadrop.org/</a> -&gt; Une alternative framasoft à WeTransfer.

<li>
<a data-href="https:&#47;&#47;framadrop.org&#47;">https://framadrop.org/</a> -&gt; Une alternative framasoft à WeTransfer.

</ul>

<div id="Memo &amp; prise de notes"><h2 id="Memo &amp; prise de notes">Memo &amp; prise de notes</h2></div>
<ul>
<li>
<a data-href="https:&#47;&#47;joplin.cozic.net&#47;">https://joplin.cozic.net/</a> -&gt; Joplin is a free, open source note taking and to-do application.

<li>
<a data-href="https:&#47;&#47;asciinema.org&#47;">https://asciinema.org/</a> -&gt; Record and share your terminal sessions, the right way. 

<li>
<a data-href="http:&#47;&#47;etherpad.org&#47;">http://etherpad.org/</a> -&gt; Etherpad is a highly customizable Open Source online editor providing collaborative editing in really real-time.

</ul>

<div id="Appels &amp; Visioconférence"><h2 id="Appels &amp; Visioconférence">Appels &amp; Visioconférence</h2></div>
<ul>
<li>
<a data-href="https:&#47;&#47;wire.com&#47;en&#47;">https://wire.com/en/</a> -&gt; secure collaboration platform

</ul>

</div>

