<div class="default">
  <h1> Unix </h1>
  

<div id="Memo"><h2 id="Memo">Memo</h2></div>

<div id="Memo-USB bootable"><h3 id="USB bootable">USB bootable</h3></div>

<p>
Installer Linux avec sa clé USB.
</p>

<p>
Cibler la clé usb.
<code>sudo fdisk -f</code>
installer la clé.
<code>dd if=/path/to/iso of=/path/to/usb bs=512k &amp;&amp; sync</code>
</p>

<p>
≃== Find ===
</p>

<p>
Chercher les fichiers contenant un occurence précise.
<code>find . -type f -print | xargs grep "text"</code>
</p>

<div id="Ressources"><h2 id="Ressources">Ressources</h2></div>
<p>
<a data-href="https:&#47;&#47;explainshell.com&#47;">https://explainshell.com/</a> -&gt; write down a command-line to see the help text that matches each argument
</p>

</div>

